.Home {
    text-align: center;
}
  
.Home-logo {
    height: 100px;
}
  
.Home-eheader {
  background-color: red;
  height: 75px;
  padding: 20px;
  color: white;
}
  
.Home-intro {
    font-size: large;
}
