.popup {
  text-align: center;
  font-size: 25px;
  background-color: red;
  height: 30px;
  padding: 10px;
  color: white;
}

h6 {
  position: absolute;
  margin: 5px;
}

.button {
  float: right;
}
